<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/style.css">
	
</head>
<body>

<div style="margin-left: 30%;" class="main-content">
{{> header }}

<h1>{{ name }}</h1>

<h3><i><p> {{ message }} </p></i></h3>

{{> footer }}

</div>

</body>
</html>